:root {
    --primary: rgba(245, 245, 220);
    --secondary: rgb(0, 61, 0);
    --tertiary: rgb(127, 180, 123);
    --banner: rgb(226, 114, 91);
}

body {
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    line-height: 1.5;
    display: block;
}

.header {
    background-color: var(--banner);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px 0px 0px;
}

.header h1 {
    background-color: var(--secondary);
    color: var(--tertiary);
    padding-left: 50px;
    padding-right: 5px;
    font-size: 55px;
}

#nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
}

#nav li {
    padding: 5px 0px;
    text-decoration: none;
    margin: 20px;
}

#nav a {
    color: var(--secondary);
    font-size: 25px;
}

.Red-Wood{
    background-image: url(./assets/red\ wood.jpg);
    background-color: var(--secondary);
    min-height: 250px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 15px 40px;
}

.Red-Wood h2 {
    background-color: var(--secondary);
    color:  var(--tertiary);
    font-size: 40px;
}

.wrapper {
    margin: 15px 150px 15px 150px;
    background-color: var(--primary);
    display: block;
    justify-content: space-between;
}

.page-section {
    display: flex;
    color: var(--banner);
    flex-direction: row;
    margin: 20px 0;
    padding: 10px 0;
    align-items: stretch;
}

.page-section h2 {
    font-size: 50px;
    border-right: 5px var(--secondary) solid;
    padding-right: 5px;
    text-align: right;
    color: var(--tertiary);
}

#About-Me-Text {
    text-align: left;
    font-size: 20px;
    display: block;
    margin: 15px 10px 15px 10px;
}

.flex-conatiner {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    width: 75%;
}

#Contact-Me address {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#Surf {
    background-image: url(/assets/Place\ Holder.jpg);
    background-color: var(--secondary);
    background-repeat: no-repeat;
    min-height: 250px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 15px 40px;
    width: 75vw;
}

#LED {
    background-image: url(/assets/Place\ Holder.jpg);
    background-color: var(--secondary);
    background-repeat: no-repeat;
    min-height: 250px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 15px 40px;
}

#Calculator {
    background-image: url(/assets/Place\ Holder.jpg);
    background-color: var(--secondary);
    background-repeat: no-repeat;
    min-height: 250px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 15px 40px;
}

#Pastel {
    background-image: url(/assets/Place\ Holder.jpg);
    background-color: var(--secondary);
    background-repeat: no-repeat;
    min-height: 250px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 15px 40px;
}

#Run {
    background-image: url(/assets/Place\ Holder.jpg);
    background-color: var(--secondary);
    background-repeat: no-repeat;
    min-height: 250px;
    min-width: none;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 15px 40px;
}

#Surf h3 {
    background-color: var(--secondary);
    color:  var(--tertiary);
    font-size: 30px;
}